body {
    position: absolute;
    display:  grid;
    background-color: #8F80DC;
    align-items: center;
    font-family: HelveticaNeue;
}

@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }